.DS_Store
*.db
*.pyc
*.docx
*.pdf
*.txt
*.log
*.pkl
*.sqlite3
*.bin

/__pycache__
/workflows
/temp
/brainstorm_workflows
/sessions
/projects
/files

secret_key.json
artifacts.md
artifact.py
README.md
docs.streamlit.io.json
/files
