PyPDF2
bs4
chromadb
datetime
fpdf
langchain
langchain_community
matplotlib
ollama
pandas
pdfkit
psutil
requests
selenium
streamlit
streamlit-extras
tiktoken
webdriver-manager
autogen
pyautogen
radon
flake8
