bs4
datetime
flax
fpdf
langchain
matplotlib
ollama
pandas
PyPDF2
pdfkit
requests
selenium
streamlit
streamlit-extras
tensorflow
tiktoken
webdriver-manager
torch; sys_platform == 'darwin'
torch==1.10.0+cu118; sys_platform == 'win32'
torchvision==0.11.2+cu118; sys_platform == 'win32' 
torchaudio===0.10.0+cu118; sys_platform == 'win32'
transformers
